body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    color: #232323;
    width: 100%;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

header {
    background-color: #674ea7;
    color: white;
    padding: 10px 0;
    text-align: center;
    width: 100%;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a {
    text-decoration: underline;
}

main {
    padding: 20px;
    background-color: #f0f0f0;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #674ea7;
    color: white;
    width: 100%;
    position: absolute;
    bottom: 0;
}

form {
    background-color: #b4a7d6;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    width: 100%;
    max-width: 500px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    resize: vertical; 
}

.home-page {
    color: #2c3e50; 
    background-color: #f0f0f0; 
}

.home-page h1 {
    color: #7e09aa; 
    font-family: Montserrat, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    margin: 0;
}

